<div class="container">
  <div class="row">
    <div class="col-md-3 border-right">
      <%= render "public/users/sidebar" %>
    </div>
    <div class="col-md-9">
      <div class="content">
        <h3>すべてのユーザーの投稿一覧</h3>

        <% if @posts.any? %>
          <% @posts.each do |post| %>
            <div class="card mb-3">
              <div class="card-header">
                <span><%= post.created_at.in_time_zone('Tokyo').strftime("%Y-%m-%d %H:%M") %></span>
                <span class="float-right">
                  <span class="ml-2"><i class="fa-regular fa-comment-dots"></i> <%= post.post_comments.count %></span>
                  <% if post.favorited_by?(current_user) %>
                    <%= link_to public_post_favorites_url(post, post.favorites.find_by(user_id: current_user.id)), method: :delete do %>
                      <i class="fa-regular fa-thumbs-up"></i> <%= post.favorites.count %>
                    <% end %>
                  <% else %>
                    <%= link_to public_post_favorites_path(post), method: :post do %>
                      <i class="fa-solid fa-thumbs-up"></i> <%= post.favorites.count %>
                    <% end %>
                  <% end %>
                </span>
              </div>
              <div class="card-body">
                <% if post.user.image.attached? %>
                  <%= image_tag post.user.image, size: "100x100", class: "float-left mr-3" %>
                <% else %>
                  <%= image_tag 'no_image', size: "100x100", class: "float-left mr-3" %>
                <% end %>
                <h5 class="card-title">投稿者: <%= post.user.name %></h5>
                <p class="card-text">学習項目: <%= post.learning_item %></p>
                <p class="card-text">学習時間: <%= post.learning_hour %> 時間</p>
                <p class="card-text">学習内容: <%= post.learning_content %></p>
                <% unless current_user.guest? %>
                  <a href="<%= public_post_path(post.id) %>" class="btn btn-primary">コメントする</a>
                <% end %>
              </div>
            </div>
          <% end %>
        <% else %>
          <p>まだ投稿がありません。</p>
        <% end %>
      </div>
      <%= paginate @posts %>

      <%= link_to "マイページへ戻る", mypage_path, class: "btn btn-secondary" %>
    </div>
  </div>
</div>
