<div class="container">
  <div class="row">
    <div class="col-md-3 border-right">
      <%= render "public/users/sidebar" %>
    </div>
    <div class="col-md-9">
      <div class="content text-center">
        <h2>コメントの編集</h2>
        <%= form_with model: [@post, @post_comment], url: public_post_post_comments_path(@post) do |f| %>
          <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに", class: "form-control" %>

          <%= f.submit "コメントする" %>
        <% end %>
      </div>
      <div class="content">
        <p>コメント件数：<%= @post.post_comments.count %></p>
        <% @post.post_comments.each do |post_comment| %>
          <div class="card mb-3">
            <div class="card-body">
              <div class="row">
                <div class="col-md-2">
                  <%= image_tag post_comment.user.image.variant(resize: "100x100!"), class: "img-fluid" if post_comment.user.image.attached? %>

                </div>
                <div class="col-md-10">
                  <h5 class="card-title"><%= post_comment.user.name %></h5>
                  <p class="card-text">投稿日時: <%= post_comment.created_at.strftime('%Y/%m/%d') %></p>
                  <p class="card-text">コメント内容: <%= post_comment.comment %></p>
                  <% if current_user == post_comment.user %>
                    <%= link_to "削除", public_post_post_comment_path(@post, post_comment), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger btn-sm" %>
                    
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <%= link_to "戻る", public_user_path, class: "btn btn-secondary" %>
    </div>
  </div>
</div>
