<table class="table table-hover table-inverse">
    <thead>
      <tr>
        <th></th>
        <th>Title</th>
        <th>opinion</th>

      </tr>
    <tbody>
    <h2>Posts search for "<%= @word %>"</h2>
    <% @posts.each do |post| %>
      <tr>
        <td>
          <%= link_to user_path(post.user) do %>
            <%= image_tag post.user.get_profile_image(50, 50) %>
          <% end %>
        </td>
        <td><%= link_to post.title , post_path(book.id) %></td>
        <td><%= post.body %></td>
        </tr>
      <% end %>
    </tbody>
  <% end %>
</table>