<div class="container">
  <div class="row">
    <div class="col-md-3 border-right">
      <%= render "public/users/sidebar" %>
    </div>
    <div class="col-md-9">
      <div class="content mt-4">
        <div class="text-center">
          <h3 class="top_text">いいね一覧</h3>
        </div>
        <% if @favorite_posts.any? %>
          <% @favorite_posts.each do |post| %>
            <div class="card mb-3">
              <div class="card-header">
                <span><%= post.created_at.in_time_zone('Tokyo').strftime("%Y-%m-%d") %></span>
                <span class="float-right">
                  <span class="ml-2"><%= post.user.name %></span>
                </span>
              </div>
              <div class="card-body">
                <% if post.user.image.attached? %>
                  <%= image_tag post.user.image, size: "100x100", class: "float-left mr-3" %>
                <% else %>
                  <%= image_tag 'no_image', size: "100x100", class: "float-left mr-3" %>
                <% end %>
                <h5 class="card-title">ユーザー名: <%= post.user.name %></h5>
                <p class="card-text">学習項目: <%= post.learning_item %></p>
                <p class="card-text">学習時間: <%= post.learning_hour %> 時間</p>
                <p class="card-text">学習内容: <%= post.learning_content %></p>
              </div>
            </div>
          <% end %>
        <% else %>
          <p>いいねした投稿がありません。</p>
        <% end %>
        
      </div>
      <%= link_to "戻る", mypage_path, class: "btn btn-secondary" %>
    </div>
  </div>
</div>
