<div>
  <p>コメント件数：<%= @post.post_comments.count %></p>
  <% @post.post_comments.each do |post_comment| %>
    <div>
      <%= post_comment.user.name %>
      <%= post_comment.created_at.strftime('%Y/%m/%d') %>
      <%= post_comment.comment %>
        <%= link_to "削除", admin_post_path(@post, post_comment), method: :delete, data: { confirm: "本当に削除しますか？" } %>
    </div>
  <% end %>
</div>
<%= link_to '戻る', admin_posts_path, class: 'btn btn-primary' %>