
<h2>ユーザー一覧</h2>

<% if @users.any? %>
  <table class="table">
    <thead>
      <tr>
        <th>名前</th>
        <th>メールアドレス</th>
        <th>会員ステータス</th> <!-- ここを追加 -->
        <th>編集</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= user.is_active ? '有効' : '停止' %></td> <!-- ここを追加 -->
          <td><%= link_to '編集', edit_admin_user_path(user), class: 'btn btn-primary' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>ユーザーが存在しません。</p>
<% end %>

<%= link_to '戻る', admin_top_path, class: 'btn btn-primary' %>
