<div class="sidebar mt-4 text-center">
  <% if user_signed_in? %>
    <div class="user-avatar">
        <% if current_user.image.attached? %>
          <%= image_tag current_user.image, size: "100x100" %>
        <% else %>
          <%= image_tag 'no_image.jpg', size: "100x100" %>
        <% end %>
      </div>
      <h2 class="user-name"><%= current_user.name %></h2>
    <% unless current_user.guest? %>
      <%= link_to "会員情報の編集", edit_public_user_path(current_user), class: "btn-edit btn-light mt-2" %><br>
      <%= link_to "あなたの<i class='fa-regular fa-thumbs-up'></i>一覧 ".html_safe, public_favorites_index_path, class: "btn btn-info mt-2" %>
    <% end %>
  <% else %>
  <% end %>
  <div class="mt-2">
    <%= render "public/searches/form" %>
  </div>
</div>


