<div class="sidebar">
  <% if @user.present? %>
    <h2><%= @user.name %>さん</h2>
    <% if @user.image.attached? %>
      <%= image_tag @user.image, size: "100x100" %>
    <% else %>
      <%= image_tag 'no_image', size: "100x100" %>
    <% end %><br>
  <% else %>
    <h5>ゲストユーザー</h5>
  <% end %>
  <%= link_to "会員情報の編集", edit_public_user_path(current_user), class: "btn btn-secondary" %><br>
  
  <%= link_to "あなたの♥", public_favorites_index_path %>
  <%= render "public/searches/form" %>
</div>