<div class="container">
  <div class="row">
    <div class="col-md-3 border-right">
      <%= render "public/users/sidebar" %>
    </div>
    <div class="col-md-9">
      <div class="content">
        <h2>ユーザー情報の編集</h2>

        <%= form_for(@user, url: public_user_path(@user), method: :patch) do |form| %>
          <div class="field">
            <%= form.label :name, '名前' %>
            <%= form.text_field :name %>
          </div>
          
          

          <div class="field">
            <%= form.label :email, 'メールアドレス' %>
            <%= form.email_field :email %>
          </div>

          <div class="field">
            <%= form.label :password, 'パスワード' %>
            <%= form.password_field :password %>
          </div>

          <div class="field">
            <%= form.label :password_confirmation, 'パスワードの確認' %>
            <%= form.password_field :password_confirmation %>
          </div>

          <div class="actions">
            <%= form.submit '更新', class: 'btn btn-primary' %>
            <%= link_to '戻る', public_user_path(@user), class: 'btn btn-secondary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
