<div class="container">
  <div class="row">
    <div class="col-md-3 border-right">
      <%= render "public/users/sidebar" %>
    </div>
    <div class="col-md-9">
      <div class="content">
        <h2 class="top_text text-center mt-4">ユーザー情報の編集</h2>

        <%= form_for(@user, url: public_user_path(@user), method: :patch, html: { id: 'user-form' }) do |form| %>
          <div class="form-group">
            <%= form.label :name, '名前' %>
            <%= form.text_field :name, id: "user_name", class: "form-control" %>
          </div>
          
          <div class="form-group">
            <%= form.label :image %>
            <%= form.file_field :image, class: "form-control-file user_image", accept: 'image/*' %>
          </div>

          <div class="form-group">
            <%= form.label :email, 'メールアドレス' %>
            <%= form.email_field :email, id: "user_email", class: "form-control" %>
          </div>

          <div class="form-group">
            <%= form.label :password, 'パスワード' %>
            <%= form.password_field :password, id: "user_password", class: "form-control" %>
          </div>

          <div class="form-group">
            <%= form.label :password_confirmation, 'パスワードの確認' %>
            <%= form.password_field :password_confirmation, id: "user_password_confirmation", class: "form-control" %>
          </div>

          <div class="actions text-center">
            <%= form.submit '更新', class: 'btn bg-lime mr-2', id: 'update-button', disabled: true %>
            <%= link_to '戻る', public_user_path(@user), class: 'btn btn-secondary' %>
          </div>
          <%= link_to '退会する', public_user_path(@user), method: :delete, data: { confirm: '本当に退会しますか？再度ログインする際は新規登録をしてください' }, class: 'btn btn-danger' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    var form = document.getElementById('user-form');
    var updateButton = document.getElementById('update-button');

    function validateForm() {
      var name = document.getElementById('user_name');
      var email = document.getElementById('user_email');
      var password = document.getElementById('user_password');
      var passwordConfirmation = document.getElementById('user_password_confirmation');

      if (name.value === '' || email.value === '' || password.value === '' || passwordConfirmation.value === '') {
        updateButton.disabled = true;
      } else {
        updateButton.disabled = false;
      }
    }

    form.addEventListener('submit', function(event) {
      if (updateButton.disabled) {
        event.preventDefault(); // ページ遷移をキャンセル
        alert('全ての項目を入力してください。');
      }
    });

    form.addEventListener('input', validateForm);
    validateForm(); // ページ読み込み時にも実行して初期状態を設定する
  });
</script>
