<div class="container">
  <div class="row">
    <div class="col-md-3 border-right">
      <%= render "public/users/sidebar" %>
    </div>
    <div class="col-md-9">
      <div class="content">
        <!-- 学習内容の投稿フォーム -->
        <div>
        <div class="text-center mt-4">
            <h3>学習時間の合計: <%= @total_learning_hours %> 時間</h3>
            <a href="#user_records" class="learn-record-link　mt-4">あなたの学習記録</a>
            <div id="weekly-learning-chart"></div>
            <div class="text-center mt-2">
              <h6>合格目指して毎日コツコツと！<i class="fa-solid fa-horse mt-4"></i></h6>
              
            </div>
          </div>
        </div
          <!-- モーダルのトリガーボタン -->
        <div class="text-center">
          <button type="button" class="btn btn-fukidashi-icon" data-toggle="modal" data-target="#learningModal">
            <i class="fas fa-edit fa-fw"></i><span>まなびを投稿する！</span>
          </button>
        </div>

        <!-- モーダル -->
        <div class="modal fade" id="learningModal" tabindex="-1" role="dialog" aria-labelledby="learningModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="learningModalLabel">まなびを記録しよう！</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <%= form_with(model: [@user, @post], url: public_user_posts_path(@user), method: :post, local: true) do |form| %>
                  <div class="form-group">
                    <%= form.label :learning_item, '学習項目' %>
                    <%= form.select :learning_item, Post.learning_items.keys, prompt: '選択してください', class: 'form-control' %>
                  </div>
                  <div class="form-group">
                    <%= form.label :learning_hour, '学習時間' %>
                    <%= form.number_field :learning_hour, min: 1, max: 24, class: 'form-control' %>
                  </div>
                  <div class="form-group">
                    <%= form.label :learning_content, '学習内容' %>
                    <%= form.text_area :learning_content, class: 'form-control' %>
                  </div>
                  <div class="actions">
                    <%= form.submit '投稿', class: 'btn btn-primary' %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>

        <!-- ユーザーの投稿一覧 -->
        <% if @posts.any? %>
          <h3 class="mt-4"><%= @user_name %>さんの投稿</h3>
          <div class="container mt-4">
            <div class="row">
              <div class="col-md-12">
                <% @posts.each do |post| %>
                  <div class="card mb-3">
                    <div class="card-header">
                      <span><%= post.created_at.in_time_zone('Tokyo').strftime("%Y/%m/%d %H:%M") %></span>
                      <span class="float-right">
                        <span class="ml-2"><i class="fa-regular fa-comment-dots"></i> <%= post.post_comments.count %></span>
                        <% if post.favorited_by?(current_user) %>
                          <%= link_to public_post_favorites_url(post, post.favorites.find_by(user_id: current_user.id)), method: :delete do %>
                            <i class="fa-regular fa-thumbs-up"></i> <%= post.favorites.count %>
                          <% end %>
                        <% else %>
                          <%= link_to public_post_favorites_path(post), method: :post do %>
                            <i class="fa-solid fa-thumbs-up"></i> <%= post.favorites.count %>
                          <% end %>
                        <% end %>
                      </span>
                    </div>
                    <div class="card-body">
                      <h5 class="card-title"><%= post.learning_item %></h5>
                      <p class="card-text">学習時間: <%= post.learning_hour %> 時間</p>
                      <p class="card-text">学習内容: <%= post.learning_content %></p>
                      <% if post.user == current_user %>
                        <a href="<%= edit_public_post_path(post) %>" class="btn-edit btn-light">
                            <i class="fa-solid fa-pencil"></i>
                            編集
                        </a>

                      <% end %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        <% else %>
        <div class="text-center mt-4">
          <h4>まだ投稿はありません。<br>
            学習の記録を投稿してみよう！
          </h4>
        </div>
        <% end %>


        <div class="pagination justify-content-center">
          <%= paginate @posts %>
        </div>
        <div class="text-right">
          <%= link_to public_posts_path do %>
            みんなの投稿<i class="fa-solid fa-users mt-2"></i>
          <% end %>
        </div>


        <!-- 合計学習時間の表示 -->
        <div class="col-md-12 text-center mt-4">
        <h2 id="user_records" class="text-center"><%= @user_name %>さんの学習記録</h2>
          <h4>学習時間の合計: <%= @total_learning_hours %> 時間</h4>
        </div>

        <!-- 学習項目別の学習時間の合計の表示 -->
        <div class="col-md-12 mt-4">
          <% if @learning_items_total.present? %>
            <h4>学習項目別の学習時間の合計</h4>
            <ul class="list-group">
              <% @learning_items_total.each do |learning_item, total_hours| %>
                <li class="list-group-item"><i class="fa-solid fa-book-open"></i> <%= learning_item %>: <%= total_hours %> 時間</li>
              <% end %>
            </ul>
          <% end %>
        </div>


        <!-- 学習項目別の学習時間の合計のグラフ -->
        <% if @learning_items_total.present? %>
          <h4 class="text-center mt-4">学習項目別の学習時間の合計</h4>
          <div id="chart_div"></div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- Google チャートのスクリプト読み込みと描画 -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawCharts);

  function drawCharts() {
    // 過去一週間の学習時間のグラフ
    var weeklyData = new google.visualization.DataTable();
    weeklyData.addColumn('string', '日付');
    weeklyData.addColumn('number', '学習時間');
    weeklyData.addRows([
      <% (0..6).to_a.reverse.each do |i| %>
        ['<%= (Date.today - i).strftime("%m/%d") %>', <%= @weekly_learning_hours[i][:hours] rescue 0 %>],
      <% end %>
    ]);

    var weeklyOptions = {
      title: '過去一週間の学習時間（合計: <%= @total_weekly_hours %>時間）',
      curveType: 'function',
      legend: { position: 'bottom' },
      colors: ['#9ACD32'] // グラフの色を緑に変更
    };
    
    var chart = new google.visualization.ColumnChart(document.getElementById('weekly-learning-chart'));
    chart.draw(weeklyData, weeklyOptions);

    // 学習項目別の学習時間の合計のグラフ
    <% if @chart_data.present? %>
      var chartData = google.visualization.arrayToDataTable(<%= @chart_data.to_json.html_safe %>);

      var options = {
  title: '学習項目別の学習時間の合計',
  legend: { position: 'none' },
  colors: ['#9ACD32'] // グラフの色を緑に変更
};

var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
chart.draw(chartData, options);
    <% end %>
  }
</script>


