<div class="container">
  <div class="row">
    <div class="col-md3">
    <div class="sidebar">
    <h3>サイドバー</h3>
    <h3><%= @user_name %>さん</h3>
    <%= link_to "会員情報の編集", edit_public_user_path(current_user), class: "btn btn-secondary" %>
    <%= link_to "あなたの♥", public_favorites_index_path %>
  </div>
  </div>
  <div class="col-md9">
    <div class="content">
    <h3>学習内容を投稿しよう！</h3>

    <%= form_with(model: [@user, @post], url: public_user_posts_path(@user), method: :post) do |form| %>

      <div class="field">
        <%= form.label :learning_item, '学習項目' %>
        <%= form.select :learning_item, Post.learning_items.keys, prompt: '選択してください' %>
      </div>

      <div class="field">
        <%= form.label :learning_hour, '学習時間' %>
        <%= form.number_field :learning_hour, min: 1, max: 24 %>
      </div>

      <div class="field">
        <%= form.label :learning_content, '学習内容' %>
        <%= form.text_area :learning_content %>
      </div>

      <div class="actions">
        <%= form.submit '投稿' %>
      </div>
    <% end %>
    <% if @posts.any? %>
      <h3><%= @user_name %>さんの投稿</h3>
      <table class="table">
        <thead>
          <tr>
            <th>投稿日時</th>
            <th>学習項目</th>
            <th>学習時間（時間）</th>
            <th>学習内容</th>

          </tr>
        </thead>
        <tbody>
          <% current_user.posts.each do |post| %>
            <tr>
              <td><%= post.created_at.in_time_zone('Tokyo').strftime("%Y-%m-%d %H:%M") %></td>
              <td><%= post.learning_item %></td>
              <td><%= post.learning_hour %> 時間</td>
              <td><%= post.learning_content %></td>
              <td><%= link_to '編集', edit_public_post_path(post) %></td>
              <% if post.favorites.exists?(user_id: current_user.id) %>
                <td>
                    ♥<%= post.favorites.count %>
                </td>
              <% else %>
                <td>
                    ♡<%= post.favorites.count %>
                </td>
              <% end %>

              <td><%= link_to "#{post.post_comments.count} コメント", public_post_path(post.id) %></td>

            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p>まだ投稿がありません。</p>
    <% end %>
    <%= link_to "みんなの投稿", public_posts_path %>
  </div>
  </div>
  </div>
</div>
